<app-topbar></app-topbar>
<div class="container">
    <div class="prompt">
        <app-lp-poll-prompt></app-lp-poll-prompt>
    </div>

    <div class="break"></div>
    <h2>How it works</h2>
    <div class="break"></div>

    <div class="howcls">
        <div class="how">
                <img src="assets/how1.png">
                <div class="clr" id="clr1">
                    <span id="cl1">1. Create</span>
                    <span>Choose a poll type and fill it out.</span>
                </div>
        </div>
        <div class="how">
            <img src="assets/how2.png">
            <div class="clr" id="clr2">
                <span id="cl1">2. Share</span>
                <span>Send your poll to other people.</span>
            </div>
        </div>
        <div class="how">
            <img src="assets/how3.png">
            <div class="clr" id="clr3">
                <span id="cl1">3. Get Results</span>
                <span>Check the results in real-time.</span>
            </div>
        </div>
        
    </div>

</div>